body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 218, 118);
  gap: 2em;
  border-radius: 30px;
  border: solid;
  border-color: rgb(71, 134, 103);
}

h1 {
  margin-top: 75px;
  font-size: 25px;
  color: rgb(32, 84, 67);
}

input {
  width: 17em;
  height: 3.5em;
  font-size: 14px;
  padding: 0 0 0 30px;
  border-radius: 10px;
  border: 0;
}

button {
  width: 21em;
  height: 3.5em;
  font-size: 13px;
  font-weight: 900;
  border-radius: 10px;
  box-shadow: inset;
  border-width: 0.5px;
}

.hati {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 17em;
  height: 3.5em;
  gap: 10px;
}

.heart {
  height: 1em;
  width: 1em;
  background-color: red;
  transform: rotate(-45deg);
  position: relative;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heart::before,
.heart::after {
  content: "";
  height: 1em;
  width: 1em;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -10px;
  left: 0px;
}

.heart::after {
  left: 10px;
  top: 0px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  25% {
    transform: scale(1.1) rotate(-45deg);
  }

  45% {
    transform: scale(1.2) rotate(-45deg);
  }
}

.heart {
  height: 1em;
  width: 1em;
  background-color: red;
  transform: rotate(-45deg);
  position: relative;
  animation: heartbeat 1s infinite;
}

.mati {
  background-color: rgb(67, 67, 67);
  animation: none;
}
.mati::before {
  background-color: rgb(67, 67, 67);
  animation: none;
}
.mati::after {
  background-color: rgb(67, 67, 67);
  animation: none;
}

p {
  font-weight: 600;
  font-size: 18px;
  color: rgb(61, 60, 65);
}
