#container {
  width: 80px;
  height: 200px;
  background-color: rgb(39, 35, 35);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
#merah {
  background-color: rgb(255, 25, 25);
  opacity: 0.2;
}
#kuning {
  background-color: yellow;
  opacity: 0.3;
}
#hijau {
  background-color: rgb(0, 255, 0);
  opacity: 0.2;
}

.mode-nyala {
  opacity: 1 !important;
}
